.p0, button.force_p0, menubutton.force_p0 > button {
  padding: 0;
}

.p10 {
  padding: 10px;
}

.lrc_list, .lrc_list row:selected {
  background: transparent;
}

.lrc_list row > label {
  transition: opacity .2s;
  opacity: 30%;
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
}

.lrc_list row:selected > label {
  opacity: 100%;
  font-size: 30px;
}

.lrc_list row {
  border-radius: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

button.active_appearance_button:disabled {
  filter: none;
}

sidebar scrolledwindow > viewport > *,
navigation-view-page > toolbarview > scrolledwindow > viewport > * {
  padding-bottom: 80px;
}

.button_no_bold label {
  font-weight: normal;
}

button.p0, menubutton.p0 > button {
  padding: 0 5px 0 5px;
}

avatar {
  box-shadow: 0 0 0 1px rgba(0,0,6,0.03), 0 1px 3px 1px rgba(0,0,6,0.07), 0 2px 6px 2px rgba(0,0,6,0.03);
}

scale trough highlight {
  min-height: 12px;
  min-width: 12px;
}

scale trough slider {
  opacity: 0;
}

image.album-play-overlay {
  opacity: 0;
  transition: opacity .2s;
}

image.album-play-overlay:hover {
  opacity: 1;
}

.rounded-corner {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.carousel-overlay-right {
  background: linear-gradient(to left,
    @window_bg_color 0%,
    transparent 100%
  );
}

.carousel-overlay-left {
  background: linear-gradient(to right,
    @window_bg_color 0%,
    transparent 100%
  );
}

sheet .sidebar-pane {
  background: color-mix(in srgb, var(--sidebar-bg-color) 10%, transparent);
}


